{% extends "./base.html" %}
{% load static %}

{% block body %}
{% include './navbar.html' %}
 <section class="dashboard">
    <div class="top">
       <i class="uil uil-bars sidebar-toggle"></i>
       <div class="search-box">
          <i class="uil uil-search"></i>
          <input type="text" placeholder="Search here...">
       </div>
       <img src="{{profile_type.profile_pic.url }}" alt="">
    </div>
 </section>
<script>
    const body = document.querySelector("body"),
      modeToggle = body.querySelector(".mode-toggle");
      sidebar = body.querySelector("nav");
      sidebarToggle = body.querySelector(".sidebar-toggle");

let getMode = localStorage.getItem("mode");
if(getMode && getMode ==="dark"){
    body.classList.toggle("dark");
}

let getStatus = localStorage.getItem("status");
if(getStatus && getStatus ==="close"){
    sidebar.classList.toggle("close");
}

// modeToggle.addEventListener("click", () =>{
//     body.classList.toggle("dark");
//     if(body.classList.contains("dark")){
//         localStorage.setItem("mode", "dark");
//     }else{
//         localStorage.setItem("mode", "light");
//     }
// });

sidebarToggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
    if(sidebar.classList.contains("close")){
        localStorage.setItem("status", "close");
    }else{
        localStorage.setItem("status", "open");
    }
})
</script>
{% endblock %}