{% extends './base.html' %}
{% block content %}
{% load static %}
{% include './header.html' %}
<style>
  .text-black {
    border: 1px solid #fff!important;
    margin: 0;
    font-family: 'Nexa', sans-serif;
    color: #353535;
    font-weight: 600px!important;
    font-size: 18px;
  }
  .card-fluid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .card-mb-3 {
    padding: 3rem;
  }
  .form-select {
    width: 85%;
  }
</style>
<section class="">
    <div class="">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-10 main-container">
          <div class="card text-black">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-12 col-xl-12 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                  <div class="card card-fluid">
                    <div class="mb-3 card-mb-3">
                      <label for="option-select" class="form-label">User Registration Type:</label>
                      <select class="form-select" id="option-select">
                        <option value="">Select Option</option>
                        <option value="option-1">Startup</option>
                        <option value="option-2">Mentor</option>
                        <option value="option-3">Incubator/Hub/Acclerator</option>
                        <option value="option-4">Donor/Funder</option>
                        <option value="option-5">Goveroment</option>
                      </select>
                    </div>
                    
                    <div id="option-1-content" class="d-none">
                      {% include '../startup/startupForm.html' with utype='strap' %}
                    </div>
                    
                    <div id="option-2-content" class="d-none">
                      {% include '../startup/mentorForm.html' %}
                    </div>
                    
                    <div id="option-3-content" class="d-none">
                      {% include '../startup/incubatorForm.html' %}
                  
                    </div>
                    <div id="option-4-content" class="d-none">
                      {% include '../startup/donorForm.html' %}
                    </div>
                    <div id="option-5-content" class="d-none">
                      {% include '../startup/goveromentForm.html' %}
                    </div>
                    
                   
                  </div>
                 
  
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% comment %} <script  src="{%  static 'hm.js' %}"></script> {% endcomment %}

  <script>
    let selectedSector='';
  
    const optionSelect = document.getElementById('option-select');
  const option1Content = document.getElementById('option-1-content');
  const option2Content = document.getElementById('option-2-content');
  const option3Content = document.getElementById('option-3-content');
  const option4Content = document.getElementById('option-4-content');
  const option5Content = document.getElementById('option-5-content');
  
  optionSelect.addEventListener('change', () => {
    {% comment %} console.log("test",selectedSector) {% endcomment %}
    let sectorComboBox = document.getElementById('id_sector'+selectedSector);
    if (optionSelect.value === 'option-1') {
      option1Content.classList.remove('d-none');
      option2Content.classList.add('d-none');
      option3Content.classList.add('d-none');
      option4Content.classList.add('d-none');
      option5Content.classList.add('d-none');
      selectedSector=optionSelect.value
      {% comment %} sectorComboBox.setAttribute("id","id_sector_"+selectedSector) {% endcomment %}

     
    } else if (optionSelect.value === 'option-2') {
      console.log(true)
      option1Content.classList.add('d-none');
      option2Content.classList.remove('d-none');
      option3Content.classList.add('d-none');
      option4Content.classList.add('d-none');
      option5Content.classList.add('d-none');
      selectedSector=optionSelect.value
      {% comment %} sectorComboBox.setAttribute("id","id_sector_"+selectedSector) {% endcomment %}

    } else if (optionSelect.value === 'option-3') {
      option1Content.classList.add('d-none');
      option2Content.classList.add('d-none');
      option3Content.classList.remove('d-none');
      option4Content.classList.add('d-none');
      option5Content.classList.add('d-none');
      selectedSector=optionSelect.value
      {% comment %} sectorComboBox.setAttribute("id","id_sector_"+selectedSector) {% endcomment %}

    }
    else if (optionSelect.value === 'option-4') {
      option1Content.classList.add('d-none');
      option2Content.classList.add('d-none');
      option3Content.classList.add('d-none');
      option4Content.classList.remove('d-none');
      option5Content.classList.add('d-none');
      selectedSector=optionSelect.value
      {% comment %} sectorComboBox.setAttribute("id","id_sector_"+selectedSector) {% endcomment %}

    }
    else if (optionSelect.value === 'option-5') {
      option1Content.classList.add('d-none');
      option2Content.classList.add('d-none');
      option3Content.classList.add('d-none');
      option4Content.classList.add('d-none');
      option5Content.classList.remove('d-none');
      selectedSector=optionSelect.value
      {% comment %} sectorComboBox.setAttribute("id","id_sector_"+selectedSector) {% endcomment %}

    }
    else{
      option1Content.classList.add('d-none');
      option2Content.classList.add('d-none');
      option3Content.classList.add('d-none');
      option4Content.classList.add('d-none');
      option5Content.classList.add('d-none');
      selectedSector=optionSelect.value
      {% comment %} sectorComboBox.setAttribute("id","id_sector_"+selectedSector) {% endcomment %}

    }


    {% comment %} var newChildComboBox = document.getElementById(sectorComboBox.getAttribute("id"));
  newChildComboBox.addEventListener("change", function() {
    console.log(this.value);
    if (this.value === "Other") {
      $("#id_other_sector").prop("required", function () {
        return true;
      });
      $("#other_sector").removeClass("d-none");
    }
    if (this.value !== "Other") {
      $("#other_sector").addClass("d-none");
      $("#id_other_sector").prop("required", function () {
        return false;
      });
    }
    // handle the change event of the child combo box
    // ...
  }); {% endcomment %}
  });
  
  </script>
  {% block script %}
  

  {% endblock script %}
  {% endblock content %}