{% extends './base.html' %} 
{% block content %} 
{% load static %} 
{% include './header.html' %}

<!-- ======= Hero Section ======= -->
<section
  id="hero"
  class="hero carousel carousel-fade"
  data-bs-ride="carousel"
  data-bs-interval="5000"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-center gy-6">
          <div class="col-lg-5 col-md-8">
            <img
              src="{% static 'assets/img/hero-carousel/hero-carousel-1.svg' %}"
              alt=""
              class="img-fluid img"
            />
          </div>

          <div class="col-lg-9 text-center">
            <h2>Welcome to AII StartUp</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- End Carousel Item -->

    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">
          <div class="col-lg-5 col-md-8">
            <img
              src="{% static 'assets/img/hero-carousel/hero-carousel-2.svg' %}"
              alt=""
              class="img-fluid img"
            />
          </div>

          <div class="col-lg-9 text-center">
            <h2>Welcome to AII StartUp</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- End Carousel Item -->

    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center gy-6">
          <div class="col-lg-5 col-md-8">
            <img
              src="{% static 'assets/img/hero-carousel/hero-carousel-3.svg' %}"
              alt=""
              class="img-fluid img"
            />
          </div>

          <div class="col-lg-9 text-center">
            <h2>Welcome to AII StartUp</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- End Carousel Item -->
  </div>

  <a
    class="carousel-control-prev"
    href="#hero"
    role="button"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon bi bi-chevron-left"
      aria-hidden="true"
    ></span>
  </a>

  <a
    class="carousel-control-next"
    href="#hero"
    role="button"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon bi bi-chevron-right"
      aria-hidden="true"
    ></span>
  </a>

  <ol class="carousel-indicators"></ol>
</section>
<!-- End Hero Section -->

<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>About Us</h2>
        <p>
          ----
        </p>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Facts Section ======= -->
  <section id="facts" class="facts">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h3 class="section-title">Connecting Start-ups with investors...</h3>
        <p class="section-description">
          Connect with a like-minded ommunity of startup interpreneurs, joinan
          interest group. Be inspired by fellow interpreneurs and take in
          advance and learning.
        </p>
      </div>
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="232"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Start-Up enthusiasts reached</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="534"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>interpreneurs and Innovators connected</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="1463"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Start-ups connected with investors</p>
        </div>

        <div class="col-lg-3 col-6 text-center">
          <span
            data-purecounter-start="0"
            data-purecounter-end="42"
            data-purecounter-duration="1"
            class="purecounter"
          ></span>
          <p>Incubators</p>
        </div>
      </div>
    </div>
    <div class="map" id="map" style="height: 70vh; margin-top: 20px;"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
  </section>
  <!-- End Facts Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container">
      <div class="section-header">
        <h2>Contact Us</h2>
        <p>
          
        </p>
      </div>
    </div>

    <!-- <div class="map" id="map" style="height: 70vh"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div> -->
    <div class="container">
      <div class="row gy-5 gx-lg-5">
        <div class="col-lg-4">
          <div class="info">
            <h3>Get in touch</h3>
            <p>
              
            </p>

            <div class="info-item d-flex">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h4>Location:</h4>
                <p>Ethio China St, Addis Ababa, Ethiopia</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>
            </div>
            <!-- End Info Item -->

            <div class="info-item d-flex">
              <i class="bi bi-phone flex-shrink-0"></i>
              <div>
                <h4>Call:</h4>
                <p>+251 937 593529</p>
              </div>
            </div>
            <!-- End Info Item -->
          </div>
        </div>

        <div class="col-lg-8">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required
              />
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
        <!-- End Contact Form -->
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="footer-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h3>EAII</h3>
            <p>
              Ethio China St<br />
              Addis Ababa, Ethiopia<br /><br />
              <strong>Phone:</strong> +251 111 55 55<br />
              <strong>Email:</strong> aii@contact.com<br />
            </p>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">About us</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Network</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Resources</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Announcemets</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Contact us</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Services</h4>
          <ul>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">StartUps</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Mentors</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i>
              <a href="#">Incubators</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">investor</a>
            </li>
            <li>
              <i class="bi bi-chevron-right"></i> <a href="#">Government Bodies</a>
            </li>
          </ul>
        </div>

        <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>
            Tamen quem nulla quae legam multos aute sint culpa legam noster
            magna
          </p>
          <form action="" method="post">
            <input type="email" name="email" /><input
              type="submit"
              value="Subscribe"
            />
          </form>
        </div> -->
      </div>
    </div>
  </div>

  <div class="footer-legal text-center">
    <div
      class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">
      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div class="copyright">
          &copy; Copyright <strong><span>EAII.</span></strong> All Rights Reserved
        </div>
      </div>

      <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->

<!-- <a href="#" class="scroll-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>

<div id="preloader"></div> -->

<script>

    var container = document.getElementById('popup');
    var content = document.getElementById('popup-content');
    var closer = document.getElementById('popup-closer');
    var overlay = new ol.Overlay(/** @type {olx.OverlayOptions} */ ({
      element: container,
      autoPan: true,
      autoPanAnimation: {
        duration: 250
      }
    }));


    /**
     * Add a click handler to hide the popup.
     * @return {boolean} Don't follow the href.
     */

  function getStartup(feature){
    {% for s in startup %}
    if('{{s.address.location.wereda_name}}'== feature.get('NAME_2') && '{{s.address.location.regionId.region_name}}'== feature.get('NAME_1') )
{
return '{{startup.count}}'
}
else return 0
    {%endfor%}

  }
  function getMentor(feature){
    if('{{mentor.count}}' != 0){
    console.log('d{{mentor.count}}')
    {% for s in mentor %}
   
    if('{{s.address.location.wereda_name}}'== feature.get('NAME_2') && '{{s.address.location.regionId.region_name}}'== feature.get('NAME_1') )
{
  console.log('{{mentor.count}}')
return '{{mentor.count}}'
}
else {
  
  return '0'}
{%endfor%}
    }
    else {
  
      return '0'}
  }
  function getIncubator(feature){
    {% for s in incubator %}
    if('{{s.address.location.wereda_name}}'== feature.get('NAME_2') && '{{s.address.location.regionId.region_name}}'== feature.get('NAME_1') )
{
return '{{incubator.count}}'
}
else return 0
    {%endfor%}
  }
  function getInvester(feature){
    {% for s in investor %}
    if('{{s.address.location.wereda_name}}'== feature.get('NAME_2') && '{{s.address.location.regionId.region_name}}'== feature.get('NAME_1') )
{
return '{{investor.count}}'
}
else return 0
    {%endfor%}
  }
  
  
  function getGovernment(feature){
    {% for s in government %}
    if('{{s.address.location.wereda_name}}'== feature.get('NAME_2') && '{{s.address.location.regionId.region_name}}'== feature.get('NAME_1') )
{
return '{{government.count}}'
}
else return 0
    {%endfor%}
  }
  var vectorSource =new ol.source.Vector()
  var wereda_geoJson =  "http://localhost:8080/geoserver/Startup/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=Startup%3AETH_adm2&maxFeatures=1000&outputFormat=application%2Fjson";
  $.getJSON( wereda_geoJson, function( data ) {


  vectorSource.addFeatures((new ol.format.GeoJSON()).readFeatures(data))

  })
  var vectorLayer = new ol.layer.Vector({
  source: vectorSource,
  });
  console.log(vectorSource)
  baseMap = new ol.layer.Group({
  layers: [
  new ol.layer.Tile({
    source: new ol.source.OSM()
  })],
  name: 'BaseMap'
  });
  var map = new ol.Map({
    interactions: ol.interaction.defaults({mouseWheelZoom:false}),
  layers: [
  baseMap,vectorLayer
  ],
  overlays: [overlay],
  target: 'map',
  controls: ol.control.defaults({
    attributionOptions: /** @type {olx.control.AttributionOptions} */ ({
      collapsible: false
    })
  }),
  view: new ol.View({
    center: [39, 9],
    zoom: 5,
    projection:'EPSG:4326'
  })
  });

  const layerSwitcher = new LayerSwitcher({
  reverse: true,
  groupSelectStyle: 'group'
  });
  map.addControl(layerSwitcher);
  var select = new ol.interaction.Select();
  map.addInteraction(select);
  select.on("select", function(e) {
  e.target.getFeatures().forEach(function(ee){
   
    overlay.setPosition(ee.get('geometry').getFirstCoordinate());
    content.innerHTML =
      '<ul class="list-group" style="color:black">'+
        '<li class="list-group-item d-flex justify-content-between align-items-center">'+
          'Startups'+
          '<span class="badge badge-primary badge-pill" style="color:black">'+getStartup(ee)+'</span>'+
        '</li>'+
        '<li class="list-group-item d-flex justify-content-between align-items-center">'+
          'Mentors'+
          '<span class="badge badge-primary badge-pill" style="color:black">'+getMentor(ee)+'</span>'+
        '</li>'+
        '<li class="list-group-item d-flex justify-content-between align-items-center">'+
         'Incubators'+
          '<span class="badge badge-primary badge-pill" style="color:black">'+getIncubator(ee)+'</span>'+
        '</li>'+
        '<li class="list-group-item d-flex justify-content-between align-items-center">'+
          'Ivestors'+
           '<span class="badge badge-primary badge-pill" style="color:black">'+getInvester(ee)+'</span>'+
         '</li>'+
         '<li class="list-group-item d-flex justify-content-between align-items-center">'+
          'Government'+
           '<span class="badge badge-primary badge-pill" style="color:black">'+getGovernment(ee)+'</span>'+
         '</li>'+
      '</ul>'

 
  })

  });

  closer.onclick = function() {
  overlay.setPosition(undefined);
  closer.blur();
  {% comment %} map.removeInteraction(select) {% endcomment %}
  return false;
  };
</script>
{% endblock content %}
