<div class="address">
  <h2>Duty person info</h2>
  <div class="form-group row" style="margin-left: 0;">
    <div class="col-sm-4">

      <label for="startup_fname">First Name</label>
      <input
        type="text"
        name="startup_fname"
        class="input_field_6em required form-control setwidth"
        id="startup_fname"
        aria-describedby="your firstname"
        placeholder="First Name"
      />
    </div>
    <div class="col-sm-4">
      <label for="startup_mname">Middle Name</label>
      <input
        type="text"
        name="startup_mname"
        class="input_field_6em required form-control"
        id="startup_mname"
        aria-describedby="your father name"
        placeholder="Middle Name"
      />
    </div>  
    <div class="col-sm-4">
      <label for="startup_lname">Last Name</label>
      <input
        type="text"
        name="startup_lname"
        class="input_field_6em required form-control"
        id="startup_lname"
        aria-describedby="your grand father"
        placeholder="Last Name"
      />
    </div>   
  </div>

  <div class="form-group row" style="margin-left: 0;">
    <div class="col-sm-4">

      <label for="startup_email">Email</label>
      <input
        type="email"
        name="startup_email"
        class="form-control"
        id="startup_email"
        aria-describedby="email"
        placeholder="Email"
      />
    </div>
    <div class="col-sm-4">
    <label for="sex">Sex</label>
    <select 
    
      class="input_field_6em required form-select"
      name="sex"
      id="sex"
    >
    <option value=""></option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
    
    </select> 
    </div>
    <div class="col-sm-4">
      <label for="startup_contact">Contact Number</label>
      <input
      name="startup_contact"
        type="number"
        class="input_field_6em required form-control"
        id="startup_contact"
        placeholder="Contact Number"
      />
    </div>   
  </div>

  <div class="form-group row" style="margin-left: 0;">
    <div class="col-sm-6">

      <label for="startup_password">Password</label>
      <input
        type="password"
        name="startup_password"
        class="input_field_6em required  form-control"
        id="startup_password"
        aria-describedby="password"
        placeholder="Password"
      />
    </div>
    
    <div class="col-sm-6">
      <label for="password2">Confirm Password</label>
      <input
        type="password"
        name="startup_password2"
        class="input_field_6em form-control confirmPass required"
        id="startup_password2"
        aria-describedby="password2"
        placeholder="Password"
      />
    </div>   
  </div>
  <div class="form-group row" style="margin-left: 0;">
    <div class="col-sm-6">

      <label for="startup_profile">Profile Picture</label>
      <input
      name="startup_profile" 
        type="file"
        class="input_field_6em form-control"
        id="startup_profile"
        placeholder="Profile"
      />
    </div>  
  </div>

  
</div>
