{% load crispy_forms_tags %}

<div class="row">
    <div class="form-group col-md-4">
      {{ user_form.first_name|as_crispy_field }}
    </div>
    <div class="form-group col-md-4">
      {{ profile.middile_name|as_crispy_field }}
    </div>
    <div class="form-group col-md-4">
      {{ user_form.last_name|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      {{ user_form.username|as_crispy_field }}
    </div>
    <div class="form-group col-md-4">
      {{ user_form.email|as_crispy_field }}
    </div>
    <div class="form-group col-md-4">
      {{ profile.birth_date|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      {{ user_form.password|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-3">
      {{ profile.profile_pic|as_crispy_field }}
    </div>
    <div class="form-group col-md-3">
      {{ profile.contact|as_crispy_field }}
    </div>
    <div class="form-group col-md-3">
      {{ profile.secondary_email|as_crispy_field }}
    </div>
    <div class="form-group col-md-3">
      {{ profile.gender|as_crispy_field }}
    </div>
  </div>