
<div class="row" >
    <div class="col-md-6">

      <label for="region" class="form-label" >Region:</label>
      <select onchange='getWeredas(this)'
        class="form-select required "
        name="region"
        id="region"
        
        placeholder="select region"
      >
      <option value=""></option>
        <option value="Addis Ababa">Addis Ababa</option>
        <option value="Afar">Afar</option>
        <option value="Amhara">Amhara</option>
        <option value="Benishangul-Gumuz">Benishangul-Gumuz</option>

        <option value="Dire Dawa">Dire Dawa</option>
        <option value="Gambela">Gambela</option>
        <option value="Harari">Harari</option>
        <option value="Oromia">Oromia</option>

        <option value="Somali">Somali</option>
        <option value="Sidama">Sidama</option>
        <option value="South West Peoples">South West Peoples</option>
        <option value="SNNP">SNNP</option>
        <option value="Tigray">Tigray</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="wereda" class="form-label" >Wereda:</label>
      <select
      
        class="form-select required "
        name="wereda"
        id="wereda"
        placeholder="select region to filter weredas"
      >
      <option value=""></option>
      </select>
    </div>   
  </div>
  <div class="row" >
    <div class="col-md-6">
      <label for="phone">Phone Number:</label>
      <input
      
        type="number"
        name="phone_number"
        class="form-control required "
        id="phone_number"
        aria-describedby="phone number"
        placeholder="Phone Number"
      />
    </div>
    <div class="col-md-6">
      <label for="region">City:</label>
      <input
      
        type="text"
        name="city"
        class="form-control required "
        id="city"
        aria-describedby="city"
        placeholder="City"
      />
    </div>
  </div>
  <div class="row" >
    <div class="col-md-6">
      <label for="website">Website:</label>
      <input
      
        type="text"
        name="website"
        class=" form-control required "
        id="website"
        aria-describedby="website"
        placeholder="Website"
      />
    </div>
  </div>

<script type="text/javascript">

    
// $(function(){
  async function getWeredas(e){
            [...document.getElementById('wereda')].map(x=>x.remove())
            const api_url = "http://localhost:8088/geoserver/elri/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=elri%3AETH_adm2&maxFeatures=5000&outputFormat=application%2Fjson";
            const response = await fetch(api_url);
            var data = await response.json();
    console.log(data);
    if (data) {
      const filtered_wereda = data.features.filter(x=>x.properties.NAME_1===e.value);
             filtered_wereda.forEach(function(item){
        var option = document.createElement("option");
        option.text = item.properties.NAME_2;
option.value = item.properties.NAME_2;
var select = document.getElementById("wereda");
   select.appendChild(option);
             })
    }


           }


</script>