

{% load crispy_forms_tags %}


    <form id="donor_" method="post" enctype="multipart/form-data">
     
      {% csrf_token %}
      <input hidden name="Donor" value="Donor/Funder">
      <div id="basicsDonor/Funder">
        <h4 style="color: #226470;" style="color: #226470;">Donor/Funder Basics</h4>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ description.name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ description.sector|as_crispy_field }}
        </div>
        
      </div>
      <div class="row">
        <div class="form-group col-md-4 ">
            {{ description.description|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ description.logo|as_crispy_field }}
        </div>
      </div>

      <div class="row">
        
        <div class="form-group col-md-4">
          {{ donor_form.doner_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ donor_form.level|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ donor_form.investment_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ donor_form.maxInvestRange|as_crispy_field }}
        </div>
      
  
       
        </div>

      </div>
      <div id="basicsAddress">
        <h4 style="color: #226470;">Donor Address</h4>
      {% include "./basic/address.html" with typeOff="donor_" %}
      </div>
      <div id="basicsResponsible">
        <h4>Responsible Person</h4>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ profile.middile_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ user_form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.username|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-4 ">
          {{ user_form.email|as_crispy_field }}
        </div>
        <div 
         class="form-group col-md-4 ">
          {{ profile.birth_date|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div 
        class="form-group col-md-4 ">
         {{ user_form.password|as_crispy_field }}
       </div>
   
      </div>
      <div class="row">
        <div class="form-group col-md-3 ">
          {{ profile.profile_pic|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ profile.contact|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ profile.secondary_email|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ profile.gender|as_crispy_field }}
        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>

