

{% load crispy_forms_tags %}


    <form id="government_" method="post" enctype="multipart/form-data">
     
      {% csrf_token %}
      <input hidden name="Donor" value="Government">
      <div id="basicsGovernment">
        <h4 style="color: #226470;" style="color: #226470;">Government Basics</h4>
        {% include "./basic/basic.html" with typeOff="government_"  %}


      <div class="row">
        
        <div class="form-group col-md-4">
          {{ goveroment_form.goveroment_type|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ goveroment_form.level|as_crispy_field }}
        </div>  
        </div>

      </div>
      <div id="basicsAddress">
        <h4 style="color: #226470;">Startup Address</h4>
        {% include "./basic/address.html" with typeOff="government_" %}
      </div>
      <div id="basicsResponsible">
        <h4>Responsible Person</h4>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ profile.middile_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ user_form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.username|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-4 ">
          {{ user_form.email|as_crispy_field }}
        </div>
        <div 
         class="form-group col-md-4 ">
          {{ profile.birth_date|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div 
        class="form-group col-md-4 ">
         {{ user_form.password|as_crispy_field }}
       </div>
   
      </div>
      <div class="row">
        <div class="form-group col-md-3 ">
          {{ profile.profile_pic|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ profile.contact|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ profile.secondary_email|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ profile.gender|as_crispy_field }}
        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>

