{% load static %}
<div class="container">
    <div class="col-sm-6" style="display: flex; column-gap: 15px;">
    <img class="logo me-auto me-lg-0" style="height: 70px;width: 70px;" src="{% static 'homepage/assets/img/logo.png'%}">
    <div>
    <h4>AI</h4>
    <h4>START-UP</h4>
    </div>
    </div>
    <div class="col-sm-6">
    <div class="row" style="margin-top: 27px;">
        <div class="col-sm-6">
            <form class="d-flex" style="display: inline-flex;">
                <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <div class="col-sm-6" style="column-gap: 35%; display: flex; justify-content: flex-end;">
            <a href="#" class="ms-5">Login</a>
            <a href="{% url 'user-registration' %}">Register</a>
        </div>
    
    </div>
    </div>
    </div>