

{% load crispy_forms_tags %}


    <form id="incubator_" method="post" enctype="multipart/form-data">
     
      {% csrf_token %}
      <input hidden name="Incubator/Hub/Acclerator" value="Incubator/Hub/Acclerator">
      <div id="basicsIncubator/Hub/Acclerator">
        <h4 style="color: #226470;" style="color: #226470;">Incubator/Hub/Acclerator Basics</h4>
        {% include "./basic/basic.html" with typeOff="incubator_"  %}
      <div class="row">

        <div class="form-group col-md-4">
          {{ incubator_form.service|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ incubator_form.ownership|as_crispy_field }}
        </div>
        <div class="form-group col-md-4">
          {{ incubator_form.focusIndustry|as_crispy_field }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
          {{ incubator_form.level|as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
          {{ incubator_form.funded_by|as_crispy_field }}
        </div>
        <div class="form-group col-md-3">
            {{ incubator_form.program_duration|as_crispy_field }}
          </div>
          <div class="form-group col-md-3">
            {{ incubator_form.attachments|as_crispy_field }}
          </div>
  
       
        </div>

      </div>
      <div id="basicsAddress">
        <h4 style="color: #226470;">Incubator/Hub/Acclerator Address</h4>
        {% include "./basic/address.html" with typeOff="incubator_" %}
     
      </div>
      <div id="basicsResponsible">
        <h4>Responsible Person</h4>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ startup_profile.middile_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ user_form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.username|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-4 ">
          {{ user_form.email|as_crispy_field }}
        </div>
        <div 
         class="form-group col-md-4 ">
          {{ startup_profile.birth_date|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div 
        class="form-group col-md-4 ">
         {{ user_form.password|as_crispy_field }}
       </div>
   
      </div>
      <div class="row">
        <div class="form-group col-md-3 ">
          {{ startup_profile.profile_pic|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ startup_profile.contact|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ startup_profile.secondary_email|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ startup_profile.gender|as_crispy_field }}
        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>

