{% extends './base.html' %}
{% block content %}
<div class="alert alert-danger alert-dismissible fade show visually-hidden" style="width:50%" role="alert">
  <strong>Sorry!!</strong> <div id="message"></div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<form id="loginForm" method="POST" action="{% url 'main:login' %}" class="row g-3">
  {% csrf_token %}
    <div class="col-auto">
      <label for="username" class="visually-hidden ">Email</label>
      <input type="text"  class="form-control required" name="username" id="username" placeholder="username">
    </div>
    <div class="col-auto">
      <label for="password" class="visually-hidden">Password</label>
      <input type="password" class="form-control required" name="password" id="password" placeholder="Password">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Confirm identity</button>
    </div>
    <div>
      <input type="checkbox" id="isLoggedin" name="isLoggedin" checked>
      <label for="isLoggedin">stay logged in</label>
    </div>
  </form>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
  <script>
  $(document).ready(function() {
  
// $.validator.addMethod('confirmPass', function(value) {
//   if($('#startup_password').val() == $('#startup_password2').val()){ return true; } return false;
// }, "Password and confirm password fields do not match");
    // $("#startupForm").validate()
    // $("#loginForm").validate()
    jQuery('#loginForm').validate()
//     $("#loginForm").submit(function(event) {
//       event.preventDefault()
//       const csrfmiddlewaretoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

//               var username =$("#username").val();
//               var password =$("#password").val();
//               var isLoggedin = $('#isLoggedin').is(':checked');
//               // console.log(isLoggedin)
//               var fd = new FormData(); 
//               fd.append('isLoggedin',isLoggedin);
//               fd.append( 'username', username);
//               fd.append( 'password', password);
            
//               $.ajax({
//                 headers: {'X-CSRFToken': csrfmiddlewaretoken},
//                 url: '{% url "main:login" %}',
//                 data: fd,
//                 processData: false,
//                 contentType: false,
//                 type: 'POST',
//                 success: function(data){
                  
//                   // $("body").html(data);
//                   // window.history.pushState('home', 'Home', '/home/');
//                   location.href='{% url "main:home" %}'
//                   $("html").html(data);

//                   console.log(data)
//                   // $('.alert').addClass('hide')
//     //               window.history.pushState("object or string", "Home", "/startup-home");

//     //               $("body").empty();
//     // $("body").append(data);

//                 },
//                 error: function(data){
//                     console.log(data.responseText)
//                     $('.alert').removeClass('visually-hidden')
//                     // $('.alert').text(data.responseText)
//                     $('#message').text(data.responseText)
//                     setTimeout(function() {
//                       $('.alert').addClass('visually-hidden') //or fadeOut
//                 }, 3000);
//                 }
//             });
            
     
// });

// console.log($('#startupForm'))
      })
    </script>
  {% endblock %}