

{% load crispy_forms_tags %}
{% load static%}
<form id="mentor_" method="post" enctype="multipart/form-data">
     
      {% csrf_token %}
      <input hidden name="Startup" value="Mentor">
      <h4 style="color: #226470;" style="color: #226470;">Mentor Basics</h4>
      <div id="basicsMentor">
   
        {% include "./basic/basic.html" with typeOff="mentor_"  %}
   
      <div class="row">
        <div class="form-group col-md-3">
          {{ mentor_form.educational_level|as_crispy_field }}
        </div>
        <div class="form-group col-md-3 d-none" id="other_lv">
          <label for="id_other_educational_level" class="form-label">
            Specify Background<span class="asteriskField">*</span>
          </label>
          <input
            type="text"
            name="other_educational_level"
            maxlength="30"
            class="textinput form-control"
            id="id_other_educational_level"
          />
        </div>
        <div class="form-group col-md-3">
          {{ mentor_form.educational_background|as_crispy_field }}
        </div>
       
        <div class="form-group col-md-3 d-none" id="other_bg">
          <label for="id_other_educational_background" class="form-label">
            Specify Background <span class="asteriskField">*</span>
          </label>
          <input
            type="text"
            name="other_educational_background"
            maxlength="30"
            class="textinput form-control"
            id="id_other_educational_background"
          />
        </div>
        </div>

        <div class="row">
          <div class="form-group col-md-3">
            {{ mentor_form.mentor_area|as_crispy_field }}
          </div>
          <div class="form-group col-md-3 d-none">
            <label for="id_other_mentor_area" class="form-label">
              Specify Mentor Area<span class="asteriskField">*</span>
            </label>
            <input
              type="text"
              name="other_mentor_area"
              maxlength="30"
              class="textinput form-control"
              id="id_other_mentor_area"
            />
          </div>
          <div class="form-group col-md-3">
            {{ mentor_form.airelated_expriance|as_crispy_field }}
          </div>
         
          <div class="form-group col-md-3">
            {{ mentor_form.attachments|as_crispy_field }}
          </div>
          </div>


      </div>
      <div id="basicsAddress">
        <h4 style="color: #226470;">Startup Address</h4>
        {% include "./basic/address.html" with typeOff="mentor_" %}
      </div>
      <div id="basicsResponsible">
        <h4>Responsible Person</h4>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.first_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ startup_profile.middile_name|as_crispy_field }}
        </div>
        <div class="form-group col-md-4 ">
          {{ user_form.last_name|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-4 ">
          {{ user_form.username|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-4 ">
          {{ user_form.email|as_crispy_field }}
        </div>
        <div 
         class="form-group col-md-4 ">
          {{ startup_profile.birth_date|as_crispy_field }}
        </div>
      </div>
      <div class="row">
        <div 
        class="form-group col-md-4 ">
         {{ user_form.password|as_crispy_field }}
       </div>
   
      </div>
      <div class="row">
        <div class="form-group col-md-3 ">
          {{ startup_profile.profile_pic|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ startup_profile.contact|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ startup_profile.secondary_email|as_crispy_field }}
        </div>
        <div
         class="form-group col-md-3 ">
          {{ startup_profile.gender|as_crispy_field }}
        </div>
      </div>
    </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <script>

      $(function () {
          $("#id_educational_background").on("change", function () {
            console.log(this.value)
            if (this.value === "other") {
              $("#id_other_educational_background").prop("required", function () {
                return true;
                
              });
              $("#other_bg").removeClass("d-none");
            }
            if (this.value !== "other") {
              $("#other_bg").addClass("d-none");
              $("#id_other_educational_background").prop("required", function () {
                return false;
              });
            }
          }) 
          $("#id_educational_level").on("change", function () {
            console.log(this.value)
            if (this.value === "other") {
              $("#id_other_educational_level").prop("required", function () {
                return true;
                
              });
              $("#other_lv").removeClass("d-none");
            }
            if (this.value !== "other") {
              $("#other_lv").addClass("d-none");
              $("#id_other_educational_level").prop("required", function () {
                return false;
              });
            }
          }) 
          
        })
    </script>