{% extends './base.html'%} {% block content %} {% include './navbar.html' %} 
{%load static %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="container"></div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row g-5">
      <div class="col-lg-3">
        {% include './sidebar.html' %}

        <!-- End Blog Sidebar -->
      </div>

      <div class="col-lg-9">

        
         </div>
    </div>
  </div>
</section>
<!-- End Blog Section -->

<section class="modal hidden">
  <div class="flex">
    <img src="{{s.logo.profile_pic.url}}" alt="user" />
    <button class="btn-close">⨉</button>
  </div>
  <div>
    <h3>Company Title</h3>
    <p>Sector:</p>
    <p>Establishement year</p>
    <p>Stage</p>
    <p>Market Scope</p>
    <p>Description</p>
  </div>
</section>

<div class="overlay hidden"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
<script>
  function makeConnect(e,user,id){
    e.preventDefault()
    $('#loading'+id).removeClass('d-none')
    $($('#connect'+id)).addClass('d-none')
    const csrfmiddlewaretoken = document.querySelector(
                  "[name=csrfmiddlewaretoken]"
                ).value;
    $.ajax({
      headers: { "X-CSRFToken": csrfmiddlewaretoken },
      url: {% url 'main:connect'%},
      data: {'userId':id},
      dataType: 'html',
      type: "POST",
      success: function (data) {
        setTimeout(() => {
          $('#connect'+id).replaceWith('<p style="color:#0ea2bd"> connect request sent !</p>')
          $('#loading'+id).addClass('d-none')
    {% comment %} $($('#connect'+id)).removeClass('d-none') {% endcomment %}
        }, "3000");
        
        
    
        
      },
      error: function (data) {
      }
    });
  }
  const modal = document.querySelector(".modal");
  const overlay = document.querySelector(".overlay");
  const openModalBtn = document.querySelector(".btn-open");
  const closeModalBtn = document.querySelector(".btn-close");

  // close modal function
  const closeModal = function () {
    modal.classList.add("hidden");
    overlay.classList.add("hidden");
  };

  // close the modal when the close button and overlay is clicked
  closeModalBtn.addEventListener("click", closeModal);
  overlay.addEventListener("click", closeModal);

  // close modal when the Esc key is pressed
  document.addEventListener("keydown", function (e) {
    if (e.key === "Escape" && !modal.classList.contains("hidden")) {
      closeModal();
    }
  });

  // open modal function
  const openModal = function () {
    console.log(true);
    modal.classList.remove("hidden");
    overlay.classList.remove("hidden");
  };
  // open modal event
  openModalBtn.addEventListener("click", openModal);
</script>

{% endblock content%}
