
{% extends './base.html'%}

{% block content %} {% include './navbar.html' %} 
{%load static %}

<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="container"></div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row g-5">
      <div class="col-lg-3">
        {% include './sidebar.html' %}

        <!-- End Blog Sidebar -->
      </div>

      <div class="col-lg-9">
        <div class="row gy-12 posts-list">
          
          <div class="col-lg-6 " style="padding:14px">
            <div class="card text-center">
              <div class="card-header">Startups</div>
              <div class="card-body">
                <h5 class="card-title">Startup Connections {{connected_startup.count}}</h5>
                <p class="card-text">Sent Startup Connections {{recived_startup.count}}  </p>
                <p class="card-text">Recived Startup Connections {{sent_startup.count}}</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 " style="padding:14px">
            <div class="card text-center">
              <div class="card-header">Mentors</div>
              <div class="card-body">
                <h5 class="card-title">Mentor Connections {{connected_mentor.count}}</h5>
                <p class="card-text">Sent Mentor Connections {{recived_mentor.count}}  </p>
                <p class="card-text">Recived Mentor Connections {{sent_mentor.count}}</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 " style="padding:14px">
            <div class="card text-center">
              <div class="card-header">Incubators/Acclerator/Hub</div>
              <div class="card-body">
                <h5 class="card-title">Incubators Connections {{connected_mentor.count}}</h5>
                <p class="card-text">Sent Incubators Connections {{recived_mentor.count}}  </p>
                <p class="card-text">Recived Incubators Connections {{sent_mentor.count}}</p>

                <h5 class="card-title">Acclerator Connections {{connected_mentor.count}}</h5>
                <p class="card-text">Sent Acclerator Connections {{recived_mentor.count}}  </p>
                <p class="card-text">Recived Acclerator Connections {{sent_mentor.count}}</p>

                <h5 class="card-title">Hub Connections {{connected_mentor.count}}</h5>
                <p class="card-text">Sent Hub Connections {{recived_mentor.count}}  </p>
                <p class="card-text">Recived Hub Connections {{sent_mentor.count}}</p>
                
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 " style="padding:14px">
            <div class="card text-center">
              <div class="card-header">Donor/Funder</div>
              <div class="card-body">
                <h5 class="card-title">Donor Connections {{connected_mentor.count}}</h5>
                <p class="card-text">Sent Donor Connections {{recived_mentor.count}}  </p>
                <p class="card-text">Recived Donor Connections {{sent_mentor.count}}</p>
                <h5 class="card-title">Funder Connections {{connected_mentor.count}}</h5>
                <p class="card-text">Sent Funder Connections {{recived_mentor.count}}  </p>
                <p class="card-text">Recived Funder Connections {{sent_mentor.count}}</p>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 " style="padding:14px">
            <div class="card text-center">
              <div class="card-header">Startups</div>
              <div class="card-body">
                <h5 class="card-title">Mentor Connections {{connected_mentor.count}}</h5>
                <p class="card-text">Sent Mentor Connections {{recived_mentor.count}}  </p>
                <p class="card-text">Recived Mentor Connections {{sent_mentor.count}}</p>
                
                
              </div>
            </div>
          </div>
          </div>
          

        </div>
        
        
         </div>
    </div>
  </div>
</section>
<!-- End Blog Section -->



<div class="overlay hidden"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 


{% endblock content%}
