{% extends './base.html'%} {% block content %} {% include './navbar.html' %} 
{%load static %}
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs">
  <div class="container"></div>
</div>
<!-- End Breadcrumbs -->

<!-- ======= Blog Section ======= -->
<section id="blog" class="blog">
  <div class="container" data-aos="fade-up">
    <div class="row g-5">
      <div class="col-lg-3">
        {% include './sidebar.html' %}

        <!-- End Blog Sidebar -->
      </div>

      <div class="col-lg-9">
        <div class="row gy-12 posts-list">
          <div class="title">
            <p>Start-Ups</p>
          </div>
          {% if startups %} {% for s in startups %}
          <div class="col-lg-4">
            <article class="d-flex flex-column">
              <div class="post-img">
                <img
                  src="{{s.profile.profile_pic.url}}"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <h2 class="title">
                <img
                  src="{{s.logo.profile_pic.url}}"
                  alt=""
                  style="max-width: 50px"
                />&nbsp;
                <a href="blog-details.html">{{s.description.name}}</a>
                {% comment %} {{s.is_connected}} {% endcomment %}
              </h2>
              
              <div class="content">
                <p>
                  {{s.description.description}}
                </p>
              </div>

              <div
                class="read-more mt-auto align-self-end"
                style="display: flex"              >
                <button class="btn btn-open"><a>Detail</a></button>
         
               
                <form onsubmit=makeConnect(event,'{{s.profile.user}}','{{s.profile.user.id}}') class>
                {% csrf_token %}
                  <button class="btn btn-open " >
                  <div id='loading{{s.profile.user.id}}' class="spinner-border d-none" style=" color:#0ea2bd; width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only" ></span>
                  </div>
                  {% include './status.html' %}
                  </form>
              </div>
            </article>
          </div>
          {% endfor %} {% else %}
          <p class="title">No active startups</p>
          {%endif%}
        </div>
        <!-- End blog posts list -->
        {% if startups %}
        <a href=""
          ><p class="load-more text-end">
            Load More <i class="bi bi-three-dots"></i></p
        ></a>
        {% endif %}

        <div class="row gy-12 posts-list">
          <div class="title">
            <p>Mentors</p>
          </div>

          {% if mentors %} {% for s in mentors %}
          <div class="col-lg-4">
            <article class="d-flex flex-column">
              <div class="post-img">
                <img
                  src="{{s.profile.profile_pic.url}}"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <h2 class="title">
                <img
                  src="{{s.logo.profile_pic.url}}"
                  alt=""
                  style="max-width: 50px"
                />&nbsp;
                <a href="blog-details.html">{{s.description.name}}</a>
              </h2>

              <div class="content">
                <p>
                  {{s.description.description}}
                </p>
              </div>

              <div
                class="read-more mt-auto align-self-end"
                style="display: flex"
              >
                <button class="btn btn-open"><a>Detail</a></button>
                
                <form onsubmit=makeConnect(event,'{{s.profile.user}}','{{s.profile.user.id}}')>
                {% csrf_token %}
                  <button  class="btn btn-open " type="submit">
                  <div id='loading{{s.profile.user.id}}' class="spinner-border d-none" style=" color:#0ea2bd; width: 3rem; height: 3rem;" role="status">
                  <span class="sr-only" ></span>
                </div>
                {% include './status.html' %}
              </form>
              </div>
             
            </article>
          </div>
          <!-- End post list item -->
          {% endfor %} {% else %}
          <p class="title">No active mentors</p>
          {%endif%}
        </div>
        <!-- End blog posts list -->
        {% if mentors %}
        <a href=""
          ><p class="load-more text-end">
            Load More <i class="bi bi-three-dots"></i></p
        ></a>
        {% endif %}

        <div class="row gy-12 posts-list">
          <div class="title">
            <p>Incubators</p>
          </div>

          {% if iah %} {% for s in iah %}
          <div class="col-lg-4">
            <article class="d-flex flex-column">
              <div class="post-img">
                <img
                  src="{{s.profile.profile_pic.url}}"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <h2 class="title">
                <img
                  src="{{s.logo.profile_pic.url}}"
                  alt=""
                  style="max-width: 50px"
                />&nbsp;
                <a href="blog-details.html">{{s.description.name}}</a>
              </h2>

              <div class="content">
                <p>
                  {{s.description.description}}
                </p>
              </div>

              <div
                class="read-more mt-auto align-self-end"
                style="display: flex"
              >
                <button class="btn btn-open"><a>Detail</a></button>
                
                <form onsubmit=makeConnect(event,'{{s.profile.user}}','{{s.profile.user.id}}')>
                {% csrf_token %}
                  <button  class="btn btn-open " type="submit">
                  <div id='loading{{s.profile.user.id}}' class="spinner-border d-none" style=" color:#0ea2bd; width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only" ></span></div>
                    {% include './status.html' %}
                  </form>
              </div>
            </article>
          </div>
          <!-- End post list item -->
          {% endfor %} {% else %}
          <p class="title">No active Acclerator/Incubator/Hub</p>
          {% endif %}
        </div>
        <!-- End blog posts list -->
        {% if iah %}
        <a href=""
          ><p class="load-more text-end">
            Load More <i class="bi bi-three-dots"></i></p
        ></a>
        {%endif%}
        <div class="row gy-12 posts-list">
          <div class="title">
            <p>Donor/Funder</p>
          </div>
          {% if df %} {% for s in df %}
          <div class="col-lg-4">
            <article class="d-flex flex-column">
              <div class="post-img">
                <img
                  src="{{s.profile.profile_pic.url}}"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <h2 class="title">
                <img
                  src="{{s.logo.profile_pic.url}}"
                  alt=""
                  style="max-width: 50px"
                />&nbsp;
                <a href="blog-details.html">{{s.description.name}}</a>
              </h2>

              <div class="content">
                <p>
                  {{s.description.description}}
                </p>
              </div>

              <div
                class="read-more mt-auto align-self-end"
                style="display: flex"
              >
                <button class="btn btn-open"><a>Detail</a></button>

               
                <form onsubmit=makeConnect(event,'{{s.profile.user}}','{{s.profile.user.id}}')>
                {% csrf_token %}
                  <button  class="btn btn-open " type="submit">
                  <div id='loading{{s.profile.user.id}}' class="spinner-border d-none" style=" color:#0ea2bd; width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only" ></span>
                  </div>
                  {% include './status.html' %}
                </form>
              </div>
            </article>
          </div>
          {% endfor %} {% else %}
          <p class="title">No active startups</p>
          {%endif%}
        </div>
        <!-- End blog posts list -->
        {% if startups %}
        <a href=""
          ><p class="load-more text-end">
            Load More <i class="bi bi-three-dots"></i></p
        ></a>
        {% endif %}
        <div class="row gy-12 posts-list">
          <div class="title">
            <p>Government Bodies</p>
          </div>
          {% if government %} {% for s in government %}
          <div class="col-lg-4">
            <article class="d-flex flex-column">
              <div class="post-img">
                <img
                  src="{{s.profile.profile_pic.url}}"
                  alt=""
                  class="img-fluid"
                />
              </div>

              <h2 class="title">
                <img
                  src="{{s.logo.profile_pic.url}}"
                  alt=""
                  style="max-width: 50px"
                />&nbsp;
                <a href="blog-details.html">{{s.description.name}}</a>
              </h2>

              <div class="content">
                <p>
                  {{s.description.description}}
                </p>
              </div>

              <div
                class="read-more mt-auto align-self-end"
                style="display: flex"
              >
                <button class="btn btn-open"><a>Detail</a></button>
                
                <form onsubmit=makeConnect(event,'{{s.profile.user}}','{{s.profile.user.id}}') >
                {% csrf_token %}
                  <button  class="btn btn-open " type="submit">
                  <div id='loading{{s.profile.user.id}}' class="spinner-border d-none" style=" color:#0ea2bd; width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only" ></span>
                  </div>
                  {% include './status.html' %}
                  </form>
              </div>
            </article>
          </div>
          {% endfor %} {% else %}
          <p class="title">No active government</p>
          {%endif%}
        </div>
        <!-- End blog posts list -->
        {% if government %}
        <a href="" ><p class="load-more text-end">
            Load More <i class="bi bi-three-dots"></i></p
        ></a>
        {% endif %}
      </div>
    </div>
  </div>
</section>
<!-- End Blog Section -->

<section class="modal hidden">
  <div class="flex">
    <img src="{{s.logo.profile_pic.url}}" alt="user" />
    <button class="btn-close">⨉</button>
  </div>
  <div>
    <h3>Company Title</h3>
    <p>Sector:</p>
    <p>Establishement year</p>
    <p>Stage</p>
    <p>Market Scope</p>
    <p>Description</p>
  </div>
</section>

<div class="overlay hidden"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
<script>
  function makeConnect(e,user,id){
    e.preventDefault()
    $('#loading'+id).removeClass('d-none')
    $($('#connect'+id)).addClass('d-none')
    const csrfmiddlewaretoken = document.querySelector(
                  "[name=csrfmiddlewaretoken]"
                ).value;
    $.ajax({
      headers: { "X-CSRFToken": csrfmiddlewaretoken },
      url: {% url 'main:connect'%},
      data: {'userId':id},
      dataType: 'html',
      type: "POST",
      success: function (data) {
        setTimeout(() => {
          $('#connect'+id).replaceWith('<p style="color:#0ea2bd"> connect request sent !</p>')
          $('#loading'+id).addClass('d-none')
    {% comment %} $($('#connect'+id)).removeClass('d-none') {% endcomment %}
        }, "3000");
        
        
    
        
      },
      error: function (data) {
      }
    });
  }
  const modal = document.querySelector(".modal");
  const overlay = document.querySelector(".overlay");
  const openModalBtn = document.querySelector(".btn-open");
  const closeModalBtn = document.querySelector(".btn-close");

  // close modal function
  const closeModal = function () {
    modal.classList.add("hidden");
    overlay.classList.add("hidden");
  };

  // close the modal when the close button and overlay is clicked
  closeModalBtn.addEventListener("click", closeModal);
  overlay.addEventListener("click", closeModal);

  // close modal when the Esc key is pressed
  document.addEventListener("keydown", function (e) {
    if (e.key === "Escape" && !modal.classList.contains("hidden")) {
      closeModal();
    }
  });

  // open modal function
  const openModal = function () {
    console.log(true);
    modal.classList.remove("hidden");
    overlay.classList.remove("hidden");
  };
  // open modal event
  openModalBtn.addEventListener("click", openModal);
</script>

{% endblock content%}
